asgiref==3.11.1
attrs==26.1.0
celery==5.5.3
certifi==2026.2.25
charset-normalizer==3.4.7
Django==5.2.12
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.27.1
psycopg2-binary==2.9.11
requests==2.33.1
python-dotenv==1.0.1
redis==5.2.1
flower